<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kafic Software</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="settings">
                    Kafic Settings
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="users">
                    Administracija konobara
                </NavLink>
            </AuthorizeView>
        </div>
        
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="group">
                    Grupe
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="subgroup">
                    Podgrupe
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="article">
                    Artikli
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Administrator">
                <NavLink class="nav-link" href="order">
                    Porudzbine
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="logout">
                        Log Out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
