@page "/login"

@using Blazored.Toast.Services
@using Client.Contracts
@using Client.Static
@using Share.Models

@inject IAuthenticationRepository _repo
@inject NavigationManager _navManager
@inject IToastService _toastService

<div class="login-form mx-auto">
    <div class="centered">
        <h3>Logovanje</h3>
        <hr />
        <div class="error-message">
        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            @errorMessage
        }
        </div>
        <br>
    </div>
    
    

    <EditForm Model="Model" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        @* <ValidationSummary /> *@
        <div class="form-group">
            <label for="firstname">Email</label>
            <InputText @bind-Value="Model.EmailAddress" class="form-control" id="emailaddress" Placeholder="Unesite vas email" />
            <div class="error-message">
                <ValidationMessage For="@(() => Model.EmailAddress)" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="lastname">Lozinka</label>
            <InputText @bind-Value="Model.Password" type="password" class="form-control" id="password" Placeholder="Unesite lozinku"/>
            <div class="error-message">
                <ValidationMessage For="@(() => Model.Password)" />
            </div>
        </div>
        <br>
        <div class="centered">            
            <button class="btn btn-primary" type="submit">Uloguj se</button>
        </div>
    </EditForm>
</div>


@code {
    private LoginModel Model = new LoginModel();
    private bool isSuccess = true;
    private string? errorMessage;

    private async Task HandleLogin()
    {
        var result = await _repo.Login(Model);

        if (result)
        {
            // Uspešno logovan
            _navManager.NavigateTo("/");
        }
        else
        {
            // Prikaz poruke o grešci
            errorMessage = "* Pogresan unos email-a ili lozinke";
        }
    }
}