@page "/"
@inject NavigationManager _navManager
<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <p>Nemate pristup ovoj stranici.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public string testStr { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _navManager.NavigateTo($"/order");
        }
        else
        {
            _navManager.NavigateTo($"/login");
        }

    }
}
